__pycache__/desnormalize_data.cpython-310.pyc
__pycache__/normalize_data.cpython-310.pyc
__pycache__/test_model.cpython-310.pyc
__pycache__/trainning_model_book.cpython-310.pyc
__pycache__/trainning_model.cpython-310.pyc
__pycache__/weight_raffle.cpython-310.pyc
__pycache__/chrome_driver.cpython-310.pyc
